#cabecalho {
  all: unset !important;

  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;

  background-color: #34406a !important;

  height: 10vh !important;

  #info-sistema {
    all: unset !important;

    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;

    width: 100% !important;
    height: 100% !important;

    h1 {
      all: unset !important;
      display: none !important;
    }

    h3 {
      all: unset !important;

      padding: 0 1em !important;
      color: #fff !important;
      font-size: 1em !important;
      font-weight: 400 !important;
    }
  }

  #painel-usuario {
    all: unset !important;

    width: 100% !important;
    height: 100% !important;

    display: flex !important;
    flex-direction: row-reverse !important;
    align-items: center !important;
    justify-content: space-between !important;

    background-color: #465486 !important;

    #menu-usuario {
      all: unset !important;
      height: 100% !important;

      ul {
        all: unset !important;

        height: 100% !important;
        width: 100% !important;

        display: flex !important;
        flex-direction: row-reverse !important;
        align-items: center !important;
        justify-content: flex-start !important;

        .caixa-postal,
        .chamado,
        .menus {
          display: none !important;
        }

        li {
          all: unset !important;

          :hover {
            background: #34406a !important;
          }

          a,
          span > a {
            background: transparent !important;
            padding: 10px 10px !important;
            font-size: 1em;
            color: #fff !important;
            white-space: nowrap;
          }
        }
      }
    }

    #info-usuario {
      all: unset !important;

      width: 100% !important;
      display: flex !important;
      flex-direction: row !important;
      align-items: start !important;
      justify-content: flex-start !important;
      padding: 10px 10px !important;
      border: none !important;
      gap: 15px !important;

      .periodo-atual,
      .usuario {
        * {
          text-transform: capitalize !important;
        }
      }

      .unidade {
        display: none !important;
      }

      p {
        all: unset !important;
        font-size: 1em;
        color: #fff !important;

        i > small > a {
          color: #c4d2eb !important;
        }
      }

      .usuario {
        width: auto;
      }
    }

    #menu-principal {
      display: none;
    }
  }
}
