#cabecalho {
  all: unset !important;
  position: relative !important;
  width: 100% !important;

  display: flex !important;
  flex-direction: row-reverse !important;
  align-items: center !important;
  justify-content: center !important;

  background-color: #34406a !important;

  #info-sistema {
    all: unset !important;

    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;

    width: max-content !important;
    padding: 0.5em !important;

    #tempoSessao {
      white-space: nowrap !important;
    }

    h1,
    h3 {
      display: none !important;
    }
  }

  #painel-usuario {
    all: unset !important;

    width: 100% !important;
    height: 100% !important;

    display: flex !important;
    flex-direction: row-reverse !important;
    align-items: center !important;
    justify-content: flex-end !important;

    .foto {
      all: unset;
      grid-area: 1 / 1 / 2 / 2;
      margin: 0.5em;

      width: 50px;
      height: 50px;

      overflow: hidden;

      border-radius: 50%;

      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;

      img {
        width: 100%;
        width: 50px !important;
        height: 60px !important;
        background-size: cover;
      }
    }

    #menu-usuario {
      all: unset !important;
      height: 100% !important;

      ul {
        all: unset !important;

        height: 100% !important;
        width: 100% !important;

        display: flex !important;
        flex-direction: row-reverse !important;
        align-items: center !important;
        justify-content: flex-start !important;

        .caixa-postal,
        .chamado,
        .menus,
        .modulos {
          display: none !important;
        }

        li {
          all: unset !important;

          :hover {
            background: #34406a !important;
          }

          a,
          span > a {
            background: transparent !important;
            padding: 10px 10px !important;
            font-size: 1em;
            color: #fff !important;
            white-space: nowrap;
          }
        }
      }
    }

    #menu-principal {
      display: none;
    }
  }
}

#info-usuario {
  color: #fff;

  display: flex;
  flex-direction: column-reverse;

  .unidade {
    display: none;
  }

  * {
    color: #fff;
  }
}
