#cabecalho {
  background: #34406a !important;

  #info-sistema {
    background: #34406a !important;
    padding: 10px 10px !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between !important;
    border: none !important;
    h1 {
      font-weight: normal !important;
      font-size: 1em !important;
      ::after {
        content: ' Visual melhorado por @prayplagues(twitter)';
      }

      h3 {
        font-weight: normal !important;
        font-size: 1em !important;
        margin: 0 !important;
        font-weight: bold !important;
      }
    }
  }

  #painel-usuario {
    padding: 0 !important;
    display: flex !important;
    flex-direction: row-reverse !important;
    align-items: flex-start !important;
    justify-content: space-between !important;
    background: #465486 !important;

    height: 100% !important;

    #menu-usuario {
      background: #465486 !important;
      width: min-content !important;
      height: 100% !important;
      ul {
        width: 100% !important;
        height: 100% !important;

        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-start !important;

        li {
          background: #465486 !important;

          :hover {
            opacity: 0.8 !important;
            background: #36426fa0 !important;
          }
        }

        li > a,
        li > span > a {
          background: transparent !important;
          padding: 10px 10px !important;
          font-size: 1em;
          color: #fff !important;
          white-space: nowrap;
        }
      }
    }

    #info-usuario {
      display: flex !important;
      flex-direction: row !important;
      align-items: start !important;
      justify-content: flex-start !important;
      padding: 10px 10px !important;
      background: #465486 !important;
      border: none !important;
      gap: 15px !important;

      * {
        color: #fff !important;
        font-size: 1em;
      }

      p {
        all: unset !important;
        font-size: 1em;
        color: #fff !important;

        i > small > a {
          color: #c4d2eb !important;
        }
      }

      .usuario {
        width: auto;
      }
    }

    #menu-principal {
      display: none;
    }
    ul {
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-between !important;
      align-items: center !important;
      width: 100% !important;
    }
  }
}
