* {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
  transition: all 300ms ease-in-out !important;
}

.dir {
  position: relative !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;

  .acessibilidade {
    display: none !important;
  }
}

html {
  background: #fafafa !important;
  margin: 0 auto !important;
}

#container {
  max-width: 1280px !important;
  width: 100% !important;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;

  #conteudo {
    #portal-docente {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto 1fr 100px;
      grid-template-areas:
        'header header header'
        'user main main'
        'user main main';

      #menu-dropdown {
        grid-area: header;

        * {
          transition: none !important;
        }
      }

      #perfil-docente {
        all: unset !important;

        grid-area: user;
        width: 100% !important;

        display: flex !important;
        flex-direction: column-reverse !important;
        justify-content: flex-end !important;
        background-color: #eff3fa !important;

        .pessoal-docente {
          display: none !important;
        }

        #agenda-docente {
          margin: 0;

          padding: 1em;
          padding-bottom: 1em;
        }

        #form_links,
        p[style='text-align: center; font-size: x-small'],
        br {
          display: none !important;
        }

        .INJECTED_LINKS {
          padding-top: 1em !important;
          background-color: #eff3fa !important;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 1fr);
          grid-column-gap: 0px;
          grid-row-gap: 0px;

          @media (max-width: 960px) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);
          }

          a {
            white-space: nowrap !important;
            display: flex !important;
            flex-direction: row !important;
            align-items: center !important;
            justify-content: flex-start !important;

            padding: 10px !important;
            text-decoration: none !important;
            color: #404e82 !important;

            &:hover {
              background-color: #bac6db !important;
            }
          }
        }
      }
      #main-docente {
        all: unset !important;
        grid-area: main !important;

        padding: 10px !important;

        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: center !important;

        #noticias-portal {
          display: none !important;
        }

        #turmas-portal {
          all: unset !important;

          * {
            all: unset !important;
          }

          width: 100% !important;

          display: flex !important;
          flex-direction: column !important;
          justify-content: flex-start !important;
          align-items: center !important;

          h4 {
            all: unset !important;
            font-size: 1.5em !important;
            font-weight: bold !important;
            color: #404e82 !important;
            padding: 0.5em !important;
          }

          .subFormulario {
            display: none !important;
          }

          table[style='margin-top: 1%;'] {
            width: 100% !important;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !important;
            margin-top: 0 !important;

            thead {
              width: 100% !important;

              tr {
                all: unset;
                background-color: #dedfe3 !important;

                display: flex !important;
                flex-direction: row !important;
                align-items: center !important;

                justify-content: space-between !important;

                padding: 0.5em !important;

                th:last-child {
                  display: none !important;
                }

                th {
                  all: unset !important;

                  padding: 0.5em !important;
                }
              }
            }
            tbody {
              display: flex !important;
              flex-direction: column !important;
              width: 100% !important;

              tr {
                all: unset;

                display: flex !important;
                flex-direction: row !important;
                align-items: center !important;

                justify-content: space-between !important;

                padding: 0.5em !important;

                td:last-child {
                  display: none !important;
                }

                &:has(td[style='display: none;']),
                &:first-child,
                &:empty {
                  display: none !important;
                }

                &:hover {
                  background-color: #dedfe3 !important;
                }

                td[style='text-align:left'] {
                  width: min-content !important;
                  margin-left: 0 !important;
                }

                td:has(center) {
                  width: 100% !important;
                  center {
                    text-align: right !important;
                  }
                }

                td:has(form) {
                  width: min-content !important;
                  min-width: 50% !important;
                  padding: 0.5em !important;
                  white-space: nowrap !important;
                  overflow: hidden !important;
                  text-overflow: ellipsis !important;

                  * {
                    text-decoration: none !important;
                  }
                }
                td {
                  all: unset;
                  width: 100% !important;
                  min-width: fit-content !important;
                  padding: 0.5em !important;
                  white-space: nowrap !important;
                  overflow: hidden !important;
                  text-overflow: ellipsis !important;

                  * {
                    text-decoration: none !important;
                  }
                }
              }
            }
          }

          span[style='text-align: left;'] {
            display: none !important;
          }

          span {
            all: unset;

            width: 100%;

            display: flex;

            flex-direction: row;

            justify-content: flex-end;
          }
        }

        #formAtividades {
          all: unset !important;
          width: 100% !important;
          h4 {
            display: none !important;
          }

          #avaliacao-portal {
            display: none !important;
          }

          table {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !important;
            border-radius: 5px !important;
            overflow: hidden !important;

            width: 100% !important;

            thead {
              width: 100% !important;

              tr {
                all: unset;
                background-color: #dedfe3 !important;

                display: flex !important;
                flex-direction: row !important;
                align-items: center !important;

                justify-content: space-around !important;

                padding: 0.5em !important;

                th:first-child {
                  display: none !important;
                }

                th {
                  all: unset !important;

                  padding: 0.5em !important;
                }
              }
            }
            tbody {
              display: flex !important;
              flex-direction: column !important;

              tr:first-child {
                display: none !important;
              }

              tr {
                all: unset !important;

                display: flex !important;

                flex-direction: row !important;

                align-items: center !important;

                justify-content: flex-start !important;

                padding: 0.5em !important;

                &:hover {
                  background-color: #dedfe3 !important;
                  cursor: pointer !important;
                }

                td[style='text-align:center;'] {
                  width: 10% !important;
                }

                td:nth-child(2) {
                  width: 20% !important;
                }

                td:last-child {
                  width: 70% !important;

                  small {
                    br,
                    strong {
                      display: none !important;
                    }

                    font {
                      color: #bac6db !important;

                      * {
                        color: #bac6db !important;
                      }
                    }

                    display: flex !important;
                    flex-direction: column !important;

                    justify-content: flex-start !important;
                  }
                }
              }

              tr:has(td > font) {
                opacity: 0.5 !important;
                cursor: not-allowed !important;

                

                &:hover {
                  background-color: transparent !important;
                  cursor: not-allowed !important;
                }
              }
            }
          }

          .mais {
            display: none !important;
          }
        }
      }
    }
  }
}

#forum-portal,
#participantes,
br,
script,
#avaliacoes-portal,
.info-docente {
  display: none !important;
}
.noticia .destaque {
  all: unset !important;
}
