* {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
  transition: all 300ms ease-in-out !important;
}

.dir {
  position: relative !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
}
.dir .acessibilidade {
  display: none !important;
}

html {
  background: #fafafa !important;
  margin: 0 auto !important;
}

#container {
  max-width: 1280px !important;
  width: 100% !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
}
#container #conteudo #portal-docente {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 100px;
  grid-template-areas: "header header header" "user main main" "user main main";
}
#container #conteudo #portal-docente #menu-dropdown {
  grid-area: header;
}
#container #conteudo #portal-docente #menu-dropdown * {
  transition: none !important;
}
#container #conteudo #portal-docente #perfil-docente {
  all: unset !important;
  grid-area: user;
  width: 100% !important;
  display: flex !important;
  flex-direction: column-reverse !important;
  justify-content: flex-end !important;
  background-color: #eff3fa !important;
}
#container #conteudo #portal-docente #perfil-docente .pessoal-docente {
  display: none !important;
}
#container #conteudo #portal-docente #perfil-docente #agenda-docente {
  margin: 0;
  padding: 1em;
  padding-bottom: 1em;
}
#container #conteudo #portal-docente #perfil-docente #form_links,
#container #conteudo #portal-docente #perfil-docente p[style="text-align: center; font-size: x-small"],
#container #conteudo #portal-docente #perfil-docente br {
  display: none !important;
}
#container #conteudo #portal-docente #perfil-docente .INJECTED_LINKS {
  padding-top: 1em !important;
  background-color: #eff3fa !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
@media (max-width: 960px) {
  #container #conteudo #portal-docente #perfil-docente .INJECTED_LINKS {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
#container #conteudo #portal-docente #perfil-docente .INJECTED_LINKS a {
  white-space: nowrap !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: flex-start !important;
  padding: 10px !important;
  text-decoration: none !important;
  color: #404e82 !important;
}
#container #conteudo #portal-docente #perfil-docente .INJECTED_LINKS a:hover {
  background-color: #bac6db !important;
}
#container #conteudo #portal-docente #main-docente {
  all: unset !important;
  grid-area: main !important;
  padding: 10px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
}
#container #conteudo #portal-docente #main-docente #noticias-portal {
  display: none !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal {
  all: unset !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal * {
  all: unset !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal h4 {
  all: unset !important;
  font-size: 1.5em !important;
  font-weight: bold !important;
  color: #404e82 !important;
  padding: 0.5em !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal .subFormulario {
  display: none !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal table[style="margin-top: 1%;"] {
  width: 100% !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !important;
  margin-top: 0 !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal table[style="margin-top: 1%;"] thead {
  width: 100% !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal table[style="margin-top: 1%;"] thead tr {
  all: unset;
  background-color: #dedfe3 !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 0.5em !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal table[style="margin-top: 1%;"] thead tr th:last-child {
  display: none !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal table[style="margin-top: 1%;"] thead tr th {
  all: unset !important;
  padding: 0.5em !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal table[style="margin-top: 1%;"] tbody {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal table[style="margin-top: 1%;"] tbody tr {
  all: unset;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 0.5em !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal table[style="margin-top: 1%;"] tbody tr td:last-child {
  display: none !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal table[style="margin-top: 1%;"] tbody tr:has(td[style="display: none;"]), #container #conteudo #portal-docente #main-docente #turmas-portal table[style="margin-top: 1%;"] tbody tr:first-child, #container #conteudo #portal-docente #main-docente #turmas-portal table[style="margin-top: 1%;"] tbody tr:empty {
  display: none !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal table[style="margin-top: 1%;"] tbody tr:hover {
  background-color: #dedfe3 !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal table[style="margin-top: 1%;"] tbody tr td[style="text-align:left"] {
  width: -moz-min-content !important;
  width: min-content !important;
  margin-left: 0 !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal table[style="margin-top: 1%;"] tbody tr td:has(center) {
  width: 100% !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal table[style="margin-top: 1%;"] tbody tr td:has(center) center {
  text-align: right !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal table[style="margin-top: 1%;"] tbody tr td:has(form) {
  width: -moz-min-content !important;
  width: min-content !important;
  min-width: 50% !important;
  padding: 0.5em !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal table[style="margin-top: 1%;"] tbody tr td:has(form) * {
  text-decoration: none !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal table[style="margin-top: 1%;"] tbody tr td {
  all: unset;
  width: 100% !important;
  min-width: -moz-fit-content !important;
  min-width: fit-content !important;
  padding: 0.5em !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal table[style="margin-top: 1%;"] tbody tr td * {
  text-decoration: none !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal span[style="text-align: left;"] {
  display: none !important;
}
#container #conteudo #portal-docente #main-docente #turmas-portal span {
  all: unset;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#container #conteudo #portal-docente #main-docente #formAtividades {
  all: unset !important;
  width: 100% !important;
}
#container #conteudo #portal-docente #main-docente #formAtividades h4 {
  display: none !important;
}
#container #conteudo #portal-docente #main-docente #formAtividades #avaliacao-portal {
  display: none !important;
}
#container #conteudo #portal-docente #main-docente #formAtividades table {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px !important;
  overflow: hidden !important;
  width: 100% !important;
}
#container #conteudo #portal-docente #main-docente #formAtividades table thead {
  width: 100% !important;
}
#container #conteudo #portal-docente #main-docente #formAtividades table thead tr {
  all: unset;
  background-color: #dedfe3 !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-around !important;
  padding: 0.5em !important;
}
#container #conteudo #portal-docente #main-docente #formAtividades table thead tr th:first-child {
  display: none !important;
}
#container #conteudo #portal-docente #main-docente #formAtividades table thead tr th {
  all: unset !important;
  padding: 0.5em !important;
}
#container #conteudo #portal-docente #main-docente #formAtividades table tbody {
  display: flex !important;
  flex-direction: column !important;
}
#container #conteudo #portal-docente #main-docente #formAtividades table tbody tr:first-child {
  display: none !important;
}
#container #conteudo #portal-docente #main-docente #formAtividades table tbody tr {
  all: unset !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: flex-start !important;
  padding: 0.5em !important;
}
#container #conteudo #portal-docente #main-docente #formAtividades table tbody tr:hover {
  background-color: #dedfe3 !important;
  cursor: pointer !important;
}
#container #conteudo #portal-docente #main-docente #formAtividades table tbody tr td[style="text-align:center;"] {
  width: 10% !important;
}
#container #conteudo #portal-docente #main-docente #formAtividades table tbody tr td:nth-child(2) {
  width: 20% !important;
}
#container #conteudo #portal-docente #main-docente #formAtividades table tbody tr td:last-child {
  width: 70% !important;
}
#container #conteudo #portal-docente #main-docente #formAtividades table tbody tr td:last-child small {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
}
#container #conteudo #portal-docente #main-docente #formAtividades table tbody tr td:last-child small br,
#container #conteudo #portal-docente #main-docente #formAtividades table tbody tr td:last-child small strong {
  display: none !important;
}
#container #conteudo #portal-docente #main-docente #formAtividades table tbody tr td:last-child small font {
  color: #bac6db !important;
}
#container #conteudo #portal-docente #main-docente #formAtividades table tbody tr td:last-child small font * {
  color: #bac6db !important;
}
#container #conteudo #portal-docente #main-docente #formAtividades table tbody tr:has(td > font) {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
}
#container #conteudo #portal-docente #main-docente #formAtividades table tbody tr:has(td > font):hover {
  background-color: transparent !important;
  cursor: not-allowed !important;
}
#container #conteudo #portal-docente #main-docente #formAtividades .mais {
  display: none !important;
}

#forum-portal,
#participantes,
br,
script,
#avaliacoes-portal,
.info-docente {
  display: none !important;
}

.noticia .destaque {
  all: unset !important;
}/*# sourceMappingURL=main.css.map */